<div class="home-container">
    <table class="login">
        <tr>
            <td>
                <form ng-submit="onLogin()">
                    <table>
                        <tr>
                            <td>Username</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" ng-model="userName" ng-change="resetError()"
                                       has-focus>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Password
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password" class="form-control" ng-model="password"
                                       ng-change="resetError()">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">
                                <button class="btn btn-default login-btn" ng-disabled="!userName || !password"
                                        style="width:100px;">Login&nbsp;&nbsp;<span
                                        class="glyphicon glyphicon-log-in"></span></button>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
        <tr>
            <td class="loginError" ng-bind="errorMessage"/>
        </tr>
    </table>
</div>
