<div class="user-info">
    <table>
        <tr>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="checked">
                        <div class="avatar"></div>
                    </label>
                </div>
            <td>
                <span class="name">
                    {{name}}
                </span>
                <br>
                <span class="email">
                    {{email}}
                </span>
            </td>
        </tr>
    </table>
</div>
